/* Style de la page */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFDD00;
  padding: 4px;
  font-size: 2em;
  color: #3B3B3B;
}

h2 {
  font-size: 1.5em;
}

/* Centre les sections principales */

section {
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Mise en page des héros dans une grille */

.grid-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-column {
  width: 30%; 
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #3B3B3B;
}

input {
  padding: 8px;
  margin: 8px 0;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  padding: 8px;
  margin: 8px 0;
  width: 98%;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/* Section de combat */

#combat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
}

.status-box {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 30%;
  margin: 10px 0;
}

#boss-status {
  padding: 10px;
  color: black;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
}


/* Style pour le conteneur principal des héros */

#hero-container {
  display: flex;
  gap: 20px;
  justify-content: center; 
  align-items: center;
}

/* Style pour chaque héros */

.hero-status {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 5px;
}

/* Style pour les barres */

progress {
  width: 100px;
  height: 20px;
  background-color: #ccc;
}


/* Journal de combat */

#combat-log {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  height: 150px;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Bouton de tour suivant */

#next-round {
  margin-top: 20px;
}

/* Randomizer pour les stats */

#randomize-stats, #randomize-names, #start-game, button {
  background-color: #FFDD00;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  gap: 20px;
}

#start-game {
  background-color: red;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  gap: 20px;
}
